<h2 class="md-toolbar-tools" ng-controller="CoreHeadController">
	<div flex layout="row" class="docs-logo">
		<md-icon md-svg-src="modules/core/img/header/pack.svg"
				 class="svg-logotype ng-isolate-scope md-default-theme"
				 style="height:40px;
                                 font-size:40px; margin:0px;"
				 aria-hidden="true">
		</md-icon>
		<div class="docs-logotype" ng-click="goTo('the-clean')">{{title}}</div>
	</div>

	<span class="docs-title" hide-sm>{{subTitle}}</span>
	<span flex hide-sm></span>
</h2>

<div hide-gt-md ng-controller="CoreHeadController" layout="row" layout-align="end" style="  z-index: 1111;
  position: fixed;
  top: 8px;
  height: 45px;
  width: 200px;
  right: 10px;">

	<!--<button class="docs-menu-icon" style="width:45px; height:45px" aria-label="Toggle Menu"-->
	<!--ng-click="toggleLeft()">-->
	<!--<md-icon md-svg-src="modules/openboard/img/profile.svg"-->
	<!--class="ng-isolate-scope md-default-theme" aria-hidden="true">-->
	<!--</md-icon>-->
	<!--</button>-->
	<button class="docs-menu-icon" style="width:45px; height:45px" aria-label="Account Menu"
			ng-click="toggleLeft()">
		<md-icon md-svg-src="modules/core/img/header/menu.svg"
				 class="ng-isolate-scope md-default-theme" aria-hidden="true">
		</md-icon>
	</button>
</div>