<div layout="column" flex ng-controller="CoreHeadController">
    <md-toolbar>
        <h1 class="md-toolbar-tools">
            <md-icon md-svg-src="modules/core/img/header/account.svg"
                     class="svg-logotype ng-isolate-scope md-default-theme"
                     style="
                        height:40px;
                        font-size:40px;
                        margin:0px;"
                     aria-hidden="true">
            </md-icon>
            <div class="docs-logotype">Your Account</div>
        </h1>
    </md-toolbar>
    <md-content class="sideNavTiles" style="overflow-x: hidden">
        <md-grid-list
                md-cols-sm="2" md-cols-md="2" md-cols-gt-md="2"
                md-row-height-gt-md="1:1" md-row-height="4:3"
                >
            <md-grid-tile
                    ng-if="authentication.user"
                    id="profile"
                    md-rowspan="2"
                    md-colspan="2"
                    class="red"
                    ng-click="sliderNavEvent('Profile', 'profile')">
                <md-icon md-svg-icon="avatar:svg-1"></md-icon>
                <md-grid-tile-footer><h3>Profile</h3></md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile
                    ng-if="!authentication.user"
                    id="signIn"
                    md-rowspan="1"
                    md-colspan="2"
                    class="green"
                    ng-click="sliderNavEvent('Sign In', 'signin')">
                <md-icon md-svg-icon="avatar:svg-2"></md-icon>
                <md-grid-tile-footer><h3>Sign In</h3></md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile
                    ng-if="authentication.user"
                    id="signOut"
                    md-rowspan="1"
                    md-colspan="2"
                    class="darkBlue"
                    ng-click="sliderNavEvent('Sign Out', 'signOut')">
                <md-icon md-svg-icon="avatar:svg-3"></md-icon>
                <md-grid-tile-footer><h3>Sign Out</h3></md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile
                    id="home"
                    md-rowspan="1"
                    md-colspan="2"
                    class="blue"
                    ng-click="sliderNavEvent('Home', 'the-clean')">
                <md-icon md-svg-icon="avatar:svg-4"></md-icon>
                <md-grid-tile-footer><h3>Home</h3></md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile
                    ng-if="authentication.user"
                    id="urClass"
                    md-rowspan="1"
                    md-colspan="1"
                    class="yellow"
                    ng-click="sliderNavEvent('Your Order', 'urClass')">
                <md-icon md-svg-icon="avatar:svg-5"></md-icon>
                <md-grid-tile-footer><h3>Your Order</h3></md-grid-tile-footer>
            </md-grid-tile>
            <md-grid-tile
                    ng-if="authentication.user"
                    id="allClass"
                    md-rowspan="1"
                    md-colspan="1"
                    class="red"
                    ng-click="sliderNavEvent('All Classes', 'allClass')">
                <md-icon md-svg-icon="avatar:svg-6"></md-icon>
                <md-grid-tile-footer><h3>Notification</h3></md-grid-tile-footer>
            </md-grid-tile>
        </md-grid-list>
    </md-content>
</div>