<section class="headerEnabled" data-ng-controller="TheCleanCrudsController" data-ng-init="findOne()">
	<!--<div class="page-header">-->
		<!--<h1 data-ng-bind="theCleanCrud.name"></h1>-->
	<!--</div>-->

    <md-whiteframe flex="" class="md-whiteframe-z2 home-card ob-underbar-green"
                   layout="column" layout-align="space-around start">
        <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == theCleanCrud.user._id))">
            <a class="btn btn-primary" href="/#!/the-clean-cruds/{{theCleanCrud._id}}/edit">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
            <a class="btn btn-primary" data-ng-click="remove();">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
        <small>
            <em class="text-muted md-caption">
                주문날짜:
                <span data-ng-bind="theCleanCrud.created | date:'mediumDate'"></span>
                사용자 이름:
                <span data-ng-bind="theCleanCrud.user.name"></span>
            </em>
            <br/>
        </small>
        <div row="column" style="  width: 100%;">
            <div layout="row">
                <label flex="20">주소: </label><div>{{theCleanCrud.Address}}</div>
            </div>
            <div layout="row">
                <label flex="20">금액: </label><div>{{theCleanCrud.numOrder * 900}}원</div>
            </div>
            <div layout="row">
                <label flex="20">전화번호: </label><div>{{theCleanCrud.cell}}</div>
            </div>
            <div layout="row">
                <label flex="20">상세정보: </label><div>{{theCleanCrud.detailInfo}}</div>
            </div>
        </div>

    </md-whiteframe>

    <md-whiteframe
            style="background-color: #23527c"
            flex="" class="md-whiteframe-z2 home-card ob-underbar-yellow"
                   layout="column" layout-align="space-around start">
        <ul id="progressbar">
            <li >Order Recieved</li>
            <li class="active">Delivery</li>
            <li>Wash</li>
            <li>Delibery</li>
            <li>Finish</li>
        </ul>
    </md-whiteframe>
</section>
