<section data-ng-controller="WorkplacesController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>빨래방 수정하기</h1>
    </div>
    <div class="col-md-12">
        <md-button class="md-raised md-primiary" ng-click="showConfirm()">주소찾기</md-button>
        <form class="form-horizontal" data-ng-submit="update()" novalidate>
            <fieldset>
                <div class="form-group">
                    <label class="control-label" for="name">Name</label>
                    <div class="controls">
                        <input type="text" data-ng-model="workplace.name" id="name" class="form-control" placeholder="Name" required>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label" for="address">Address</label>
                    <div class="controls">
                        <input type="text" data-ng-model="workplace.address" id="address" class="form-control" placeholder="Address" required>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Update" class="btn btn-default">
                </div>
				<div data-ng-show="error" class="text-danger">
					<strong data-ng-bind="error"></strong>
				</div>
            </fieldset>
        </form>
    </div>
</section>