<section data-ng-controller="AdminPageController">
    <md-whiteframe flex="" class="md-whiteframe-z2 home-card ob-underbar-red"
                   layout="column" layout-align="space-around start">
        Admin Page
    </md-whiteframe>
    <md-whiteframe flex="" class="md-whiteframe-z2 home-card ob-underbar-red"
                   layout="column" layout-align="space-around start">
        주문현황: {{numOrder}}개
    </md-whiteframe>
    <md-whiteframe flex="" class="md-whiteframe-z2 home-card ob-underbar-red"
                   layout="column" layout-align="space-around start">
        회원관리: {{numUser}}개
    </md-whiteframe>






</section>