<!--
    4/8 Create
-->
<section data-ng-controller="HomeController">
    <md-content ng-show="tcStartPage">

        <!--<iframe height='250' scrolling='no' src='//codepen.io/kruny1001/embed/yyRMZm/?height=206' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/kruny1001/pen/yyRMZm/'>yyRMZm</a> by Kevin S (<a href='http://codepen.io/kruny1001'>@kruny1001</a>) on <a href='http://codepen.io'>CodePen</a>.-->
        <!--</iframe>-->
        <!--<iframe height='250' scrolling='no' src='//codepen.io/kruny1001/embed/LEgpjv/?height=268' frameborder='no' allowtransparency='true' allowfullscreen='true' style='width: 100%;'>See the Pen <a href='http://codepen.io/kruny1001/pen/LEgpjv/'>LEgpjv</a> by Kevin S (<a href='http://codepen.io/kruny1001'>@kruny1001</a>) on <a href='http://codepen.io'>CodePen</a>.-->
        <!--</iframe>-->

        <div ng-hide="true" class="meanT-headToolBar">
            <div class="meanT-brandName">
                <a href="/#!/versioning" target="_blank">Version: 0.0.3</a>
                <span style="margin-left:20px;">{{notice}}</span>
            </div>
        </div>

        <md-content layout="column" layout-align="center center">
            <md-content class="meanT-homeFirstRow">
                <div class="meanT-headTitle">
                    <strong>{{homeContents.mainTitle}}</strong>
                </div>
                <div class="meanT-headSubTitle" hide-sm>
                    <strong>{{homeContents.mainTitle}}</strong> {{homeContents.subTitleText}}<br/><br/>
                    <md-button class="md-raised md-primary" ng-click="goTo('openboard')" style="margin-bottom: 10px;">시작하기</md-button>
                </div>
            </md-content>
        </md-content>

        <div class="meanT-headSubTitle" show-sm hide-gt-sm>
            <strong>{{homeContents.mainTitle}}</strong> {{homeContents.subTitleText}}<br/><br/>
            <md-button class="md-raised md-primary" ng-click="goTo('openboard')" style="margin-bottom: 10px;">시작하기</md-button>
        </div>

        <!--<div style="height:200px; width:200px;">-->
        <!--<md-icon md-svg-icon="basket"-->
        <!--ng-style="{color: !font.theme && font.color, 'font-size': '250px',-->
                    <!--height: '100%', width:'100%'}">-->
        <!--</md-icon>-->
        <!--</div>-->

        <div layout="row" layout-sm="column" layout-align="center center">
            <md-card style="max-width:250px;" class=" ob-underbar-top-red">
                <div style="width:80%; margin-left:auto; margin-right:auto;">
                    <md-icon md-svg-icon="basket"
                             ng-style="{color: !font.theme && font.color, 'font-size': '250px', height: '100%', width:'100%'}">
                    </md-icon>
                </div>
                <md-card-content class="home-card">
                    <h2>빨래바구니</h2>
                    <p>
                        빨래바구니에 빨래거리를 담아 주세요.
                    </p>
                </md-card-content>
            </md-card>
            <md-card style="max-width:250px;" class=" ob-underbar-top-yellow">
                <div style="width:80%; margin-left:auto; margin-right:auto;">
                    <md-icon md-svg-icon="drum"
                             ng-style="{color: !font.theme && font.color, 'font-size': '250px', height: '100%', width:'100%'}">
                    </md-icon>
                </div>
                <md-card-content class="home-card">
                    <h2>세탁일</h2>
                    <p>
                        세탁은 The Clean에 맞겨 주시면 배달까지
                    </p>
                </md-card-content>
            </md-card>
            <md-card style="max-width:250px; " class="ob-underbar-top-green">
                <div style="width:80%; margin-left:auto; margin-right:auto;">
                    <md-icon md-svg-icon="drum"
                             ng-style="{color: !font.theme && font.color, 'font-size': '250px', height: '100%', width:'100%'}">
                    </md-icon>
                </div>
                <md-card-content class="home-card ">
                    <h2>진행상태</h2>
                    <p>
                        진행상태에 대해서 알려 드립니다. 실시간 업데이트
                    </p>
                </md-card-content>
            </md-card>
        </div>
        <md-whiteframe flex="" class="md-whiteframe-z2 home-card ob-underbar-dark"
                       layout="column" layout-align="space-around start">
            <h3>간편한 결제 시스템</h3>
        </md-whiteframe>

        <md-whiteframe flex="" class="md-whiteframe-z2 home-card ob-underbar-base"
                       layout="column" layout-align="space-around start">
            <h3>실시간 업데이</h3>
        </md-whiteframe>

        <md-whiteframe flex="" class="md-whiteframe-z2 home-card ob-underbar-green"
                       layout="column" layout-align="space-around start">
            <h3>합리적 가격</h3>
        </md-whiteframe>

        <md-whiteframe flex="" class="md-whiteframe-z2 home-card ob-underbar-red"
                       layout="column" layout-align="space-around start">
            <h3>고객 만족 서비스</h3>
        </md-whiteframe>
    </md-content>
</section>